<div id="div-forms" class="py-4 px-3 confirm-forgot-password">

    <h2 class="text-center mb-3 text-large font-weight-bold">パスワード変更</h2>
    <p class="text-md-center">
        <%= confirmForgotPasswordParams.destination %>にワンタイムパスワードを送信しました。
        <br>ワンタイムパスワードと新しいパスワードを入力して「パスワード変更」ボタンを押してください。
        <br>パスワードが変更されます。
    </p>

    <form name="confirmforgotpasswordform" method="post">
        <input type="hidden" class="form-control inputField-customizable" id="username" name="username"
            value="<%= confirmForgotPasswordParams.username %>">
        <input type="hidden" class="form-control inputField-customizable" id="destination" name="destination"
            value="<%= confirmForgotPasswordParams.destination %>">
        <input type="hidden" class="form-control inputField-customizable" id="deliveryMedium" name="deliveryMedium"
            value="<%= confirmForgotPasswordParams.deliveryMedium %>">

        <% if (messages.errorMessage) { %>
        <p id="errorMessage" class="error text-danger mb-2">
            <%= messages.errorMessage %>
        </p>
        <% } %>

        <div class="mb-4">
            <div class="form-group">
                <div class="row align-items-center">
                    <p class="col-md-4 py-2 text-md-right">ワンタイムパスワード</p>
                    <div class="col-md-8">
                        <input id="forgot_password_code" class="form-control" type="password" name="code"
                            placeholder="（例）ワンタイムパスワード" required="">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row align-items-center">
                    <p class="col-md-4 py-2 text-md-right">新しいパスワード</p>
                    <div class="col-md-8">
                        <p class="text-small mb-2 text-dark-gray">小文字、大文字、数字、特殊文字（!、#、$、%、^、&、*、_）を含む8文字以上で入力してください</p>
                        <input id="password-mobile" class="form-control" type="password"
                            onkeyup="checkPasswordMatch('mobile');" name="password" placeholder="（例）新しいパスワード"
                            required="">
                        <div class="mt-2">
                            <p id="checkPassword-lowerletter-mobile" class="">
                                <span aria-hidden="true" id="check-lowerletter-mobile"></span>
                                <span id="checkPasswordText-lowerletter-mobile"></span>
                            </p>

                            <p id="checkPassword-upperletter-mobile" class="">
                                <span aria-hidden="true" id="check-upperletter-mobile"></span>
                                <span id="checkPasswordText-upperletter-mobile"></span>
                            </p>

                            <p id="checkPassword-length-mobile" class="">
                                <span aria-hidden="true" id="check-length-mobile"></span>
                                <span id="checkPasswordText-length-mobile"></span>
                            </p>

                            <p id="checkPassword-symbols-mobile" class="">
                                <span aria-hidden="true" id="check-symbols-mobile"></span>
                                <span id="checkPasswordText-symbols-mobile"></span>
                            </p>

                            <p id="checkPassword-numbers-mobile" class="">
                                <span aria-hidden="true" id="check-numbers-mobile"></span>
                                <span id="checkPasswordText-numbers-mobile"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="row align-items-center">
                    <p class="col-md-4 py-2 text-md-right">新しいパスワード</p>
                    <div class="col-md-8">
                        <input id="confirm_password-mobile" class="form-control" type="password"
                            onkeyup="checkConfirmPasswordMatch('mobile');" name="confirmPassword"
                            placeholder="（例）新しいパスワード確認" required="">
                        <div class="mt-2">
                            <p id="checkPassword-confirm-mobile" class="">
                                <span aria-hidden="true" id="check-confirm-mobile"></span>
                                <span id="checkPasswordText-confirm-mobile"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        

        <div class="buttons mx-auto text-center">
            <button id="signupButton-mobile" name="reset_password" type="submit" disabled
                class="btn btn-primary btn-block py-3 mb-3">パスワード変更</button>
            <a class="btn btn-outline-secondary btn-block py-3" href="javascript:history.back();">戻る</a>
        </div>

    </form>
</div>
<script src="/js/signup.js"></script>