<div id="div-forms" class="contents center confirm">
    <div class="inner">
        <div class="text-center mb-small large-text">ワンタイムパスワード入力</div>
        <form name="confirmform" id="confirm" method="post">
                
            <input type="hidden" class="form-control inputField-customizable" id="username" name="username" value="<%= confirmParams.username %>">
            <input type="hidden" class="form-control inputField-customizable" id="destination" name="destination" value="<%= confirmParams.destination %>">
            <input type="hidden" class="form-control inputField-customizable" id="deliveryMedium" name="deliveryMedium" value="<%= confirmParams.deliveryMedium %>">
            <input type="hidden" class="form-control inputField-customizable" id="sub" name="sub" value="<%= confirmParams.sub %>">
            <% if (messages.errorMessage) { %>
                <p id="errorMessage" class="error text-red mb-small">
                    <%= messages.errorMessage %>
                </p>
                <% } %>

                    <br>
                    <div id="div-confirm-msg">
                        <p id="text-code" class="mb-middle">
                            ご登録いただいた
                            <%= confirmParams.destination %>までワンタイムパスワードを送信しました。 ワンタイムパスワードを入力して「登録」ボタンを押してください。
                        </p>
                    </div>

                    <dl class="mb-middle">
                        <dt class="mb-x-small">
                            <strong>ワンタイムパスワード</strong>
                        </dt>
                        <dd>
                            <input id="verification_code" class="form-control" type="password" name="code" required="" placeholder="ワンタイムパスワードを入力してください">
                        </dd>
                    </dl>

                    <button name="confirm" type="submit" class="button button-primary button-block mb-middle">登録</button>
        </form>

        <form name="resendcodeform" id="resend" action="<%= resendcodeUrl %>" method="post">

            <input type="hidden" class="form-control inputField-customizable" name="username" value="<%= confirmParams.username %>">
            <input type="hidden" class="form-control inputField-customizable" name="destination" value="<%= confirmParams.destination %>">
            <input type="hidden" class="form-control inputField-customizable" name="deliveryMedium" value="<%= confirmParams.deliveryMedium %>">
            <input type="hidden" class="form-control inputField-customizable" name="sub" value="<%= confirmParams.sub %>">

            <p class="text-center mb-middle">
                <button name="resend" type="submit" class="link">ワンタイムパスワードを再送信する</button>
            </p>
        </form>
        <div class="text-center">
            <a href="javascript:history.back();"><i class="icon left-icon prev-black"></i>戻る</a>
        </div>
    </div>

</div>