<div id="div-forms" class="contents center confirm-forgot-password">
    <div class="inner">
        <div class="text-center mb-small large-text">パスワード変更</div>
        <form name="confirmforgotpasswordform" method="post">
            <input type="hidden" class="form-control inputField-customizable" id="username" name="username" value="<%= confirmForgotPasswordParams.username %>">
            <input type="hidden" class="form-control inputField-customizable" id="destination" name="destination" value="<%= confirmForgotPasswordParams.destination %>">
            <input type="hidden" class="form-control inputField-customizable" id="deliveryMedium" name="deliveryMedium" value="<%= confirmForgotPasswordParams.deliveryMedium %>">

            <% if (messages.errorMessage) { %>
                <p id="errorMessage" class="error text-red mb-small">
                    <%= messages.errorMessage %>
                </p>
                <% } %>

                    <div id="div-forgot-password-msg">
                        <p id="text-code" class=" mb-middle">
                            <%= confirmForgotPasswordParams.destination %>にワンタイムパスワードを送信しました。
                                <br>ワンタイムパスワードと新しいパスワードを入力して「パスワード変更」ボタンを押してください。
                                <br>パスワードが変更されます
                        </p>
                    </div>
                    <div class="mb-small">
                        <input id="forgot_password_code" class="form-control" type="password" name="code" placeholder="ワンタイムパスワード" required="">
                    </div>
                    
                    <div class="mb-x-small">
                        <input id="password-mobile" class="form-control" type="password" onkeyup="checkPasswordMatch('mobile');" name="password" placeholder="新しいパスワード" required="">
                    </div>
                    <p class="small-x-text mb-x-small text-light-gray">※ 小文字、大文字、数字、特殊文字（!、#、$、%、^、&、*、_）を含む8文字以上で入力してください</p>
                    <div id="checkPassword-lowerletter-mobile" class="mb-x-small small-text">
                        <span aria-hidden="true" id="check-lowerletter-mobile"></span>
                        <span id="checkPasswordText-lowerletter-mobile"></span>
                    </div>

                    <div id="checkPassword-upperletter-mobile" class="mb-x-small small-text">
                        <span aria-hidden="true" id="check-upperletter-mobile"></span>
                        <span id="checkPasswordText-upperletter-mobile"></span>
                    </div>

                    <div id="checkPassword-length-mobile" class="mb-x-small small-text">
                        <span aria-hidden="true" id="check-length-mobile"></span>
                        <span id="checkPasswordText-length-mobile"></span>
                    </div>
    
                    <div id="checkPassword-symbols-mobile" class="mb-x-small small-text">
                        <span aria-hidden="true" id="check-symbols-mobile"></span>
                        <span id="checkPasswordText-symbols-mobile"></span>
                    </div>

                    <div id="checkPassword-numbers-mobile" class="mb-x-small small-text">
                        <span aria-hidden="true" id="check-numbers-mobile"></span>
                        <span id="checkPasswordText-numbers-mobile"></span>
                    </div>
                    <div class="mb-small">
                        <input id="confirm_password-mobile" class="form-control" type="password" onkeyup="checkConfirmPasswordMatch('mobile');" name="confirmPassword" placeholder="新しいパスワード確認" required="">
                    </div>
                    <div id="checkPassword-confirm-mobile" class="mb-x-small small-text">
                        <span aria-hidden="true" id="check-confirm-mobile"></span>
                        <span id="checkPasswordText-confirm-mobile"></span>
                    </div>
                    <button id="signupButton-mobile" name="reset_password" type="submit" class="button button-primary button-block mb-middle">パスワード変更</button>
        </form>
        <div class="text-center">
            <a href="javascript:history.back();"><i class="icon left-icon prev-circle-white"></i>戻る</a>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>