<div id="div-forms" class="modal-body">
    <div>
        <div>
            <form name="confirmforgotpasswordform" method="post">
                <input type="hidden" class="form-control inputField-customizable" id="username" name="username" value="<%= confirmForgotPasswordParams.username %>">
                <input type="hidden" class="form-control inputField-customizable" id="destination" name="destination" value="<%= confirmForgotPasswordParams.destination %>">
                <input type="hidden" class="form-control inputField-customizable" id="deliveryMedium" name="deliveryMedium" value="<%= confirmForgotPasswordParams.deliveryMedium %>">

                <% if (messages.errorMessage) { %>
                    <p id="errorMessage" class="errorMessage-customizable">
                        <%= messages.errorMessage %>
                    </p>
                    <% } %>
                        <br>
                        <div id="div-forgot-password-msg">
                            <span id="text-code">We have sent a password reset code by email to
                                <%= confirmForgotPasswordParams.destination %>. Enter it below to reset your password.</span>
                        </div>
                        <label>Code</label>
                        <input id="forgot_password_code" class="form-control inputField-customizable" type="password" name="code" required="">

                        <label>New Password</label>
                        <input id="new_password" class="form-control inputField-customizable" type="password" name="password" required="">

                        <label>Enter New Password Again</label>
                        <input id="confirm_password" class="form-control inputField-customizable" type="password" name="confirmPassword" required="">

                        <button name="reset_password" type="submit" class="btn btn-primary submitButton-customizable">Change Password</button>
            </form>
        </div>
    </div>
</div>