<div id="div-forms" class="contents center confirm-forgot-password">
    <div class="inner">
        <form name="confirmforgotpasswordform" method="post">
            <input type="hidden" class="form-control inputField-customizable" id="username" name="username" value="<%= confirmForgotPasswordParams.username %>">
            <input type="hidden" class="form-control inputField-customizable" id="destination" name="destination" value="<%= confirmForgotPasswordParams.destination %>">
            <input type="hidden" class="form-control inputField-customizable" id="deliveryMedium" name="deliveryMedium" value="<%= confirmForgotPasswordParams.deliveryMedium %>">

            <% if (messages.errorMessage) { %>
                <p id="errorMessage" class="error text-red mb-small">
                    <%= messages.errorMessage %>
                </p>
                <% } %>

                    <div id="div-forgot-password-msg">
                        <p id="text-code" class=" mb-middle">
                            <%= confirmForgotPasswordParams.destination %>にワンタイムパスワードを送信しました。
                                <br>ワンタイムパスワードと新しいパスワードを入力して
                                <br>「パスワード変更」ボタンを押してください。
                                <br>パスワードが変更されます
                        </p>
                    </div>
                    <div class="mb-small">
                        <input id="forgot_password_code" class="form-control" type="password" name="code" placeholder="ワンタイムパスワード" required="">
                    </div>
                    <div class="mb-small">
                        <input id="new_password" class="form-control" type="password" name="password" placeholder="新しいパスワード" required="">
                    </div>
                    <div class="mb-small">
                        <input id="confirm_password" class="form-control" type="password" name="confirmPassword" placeholder="新しいパスワード確認" required="">
                    </div>
                    <button name="reset_password" type="submit" class="button button-primary button-block submitButton-customizable">パスワード変更</button>
        </form>
    </div>
</div>